@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #001B2E;
    --secondary-color: #294C60;
    --accent1-color: #FFEFD3;
    --accent2-color: #FFC49B;

    --heading-font: 'Poetsen One', serif;
    --paragraph-font: 'Source Sans 3', sans-serif;

    --nav-background-color: var(--primary-color);
    --nav-link-color: white;
    --nav-hover-link-color: var(--accent2-color);
    --nav-hover-background-color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}