@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #222;
    background-color: azure;
    width: 765px;
    margin: auto;
}

header {
    margin: 0 auto;
}

h1 {
    margin: 1rem;
    font-size: 2rem;
    text-align: center;
}

form {
    margin: 0 auto;
    padding: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    background-color: rgba(64, 64, 64, 0.25);
}

label, input, button, select, textarea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

label {
    font-weight: bold;
}

.question {
    padding: 0.5em;
}

pre {
    padding: 20px;
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: large;
    color: white;
    /* margin-top: 0.5em; */
    margin-bottom: 0.5em;
}

input, select, textarea {
    padding: 0.5rem;
    width: 100%;
}

button {
    margin: 0.5rem;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding: 1.1em;
    width: 700px;
}

button:hover {
    background-color: darkblue;
}

a:hover {
    color: red;
}

footer {
    margin: 1rem auto 0;
    text-align: center;
    font-size: 0.75em;
    font-style: italic;
}